{
    "Service": {
        "ID": "s-td-0",
        "Address": "{{ client_addr }}",
        "Name": "node-exporter",
        "Port": 80,
        "Tags": [
        "_service=prometheus"
        ]
    }
}